Django==3.1.12
Pillow==6.2.1
simplejson==3.16.0
djangorestframework==3.10.3
channels==2.2.0
channels-redis==2.4.0
stripe==2.29.4
django-tempus-dominus==5.1.2.5
django-widget-tweaks==1.4.5
pylint==2.4.4
pylint-django==2.0.13