.slate-bg {
    background-color: #262626;
}

.slate-fg {
    color: #262626;
}

.secondhand-grey-bg {
    background-color: #3f3f3f;
}

.whitish-bg {
    background-color: #f5f5f5;
}

.whitish-fg {
    color: #f5f5f5;
}

.light-grey-bg {
    background-color: #dcdcdc; 
}

.light-grey-fg {
    color: #dcdcdc; 
}

.navy-bg {
    background-color: #21265E;
}

.jade-bg {
    background-color: #48AB97;
}

.steel-blue-bg {
    background-color: #336A89;
}

.blush-bg {
    background-color: #DC8D80;
}

.navy-fg {
    color: #21265E;
}

.jade-fg {
    color: #48AB97;
}

.steel-blue-fg {
    color: #336A89;
}

.blush-fg {
    color: #DC8D80;
}